github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "SnapKit/SnapKit"
github "onevcat/Kingfisher"
github "tristanhimmelman/AlamofireObjectMapper"
github "goktugyil/EZSwiftExtensions"
github "seedotlee/MJRefresh" "new-version"
github "dani-gavrilov/GDPerformanceView-Swift"
github "efremidze/VisualEffectView"
github "pkluz/PKHUD"
github "WenchaoD/FSPagerView"
github "yannickl/QRCodeReader.swift"
github "gmarm/BetterSegmentedControl"
github "ceeyang/swiftScan" "new-version"
